{% extends 'base.html.twig' %}

{% block title %}Modifier la prestation : {{ prestation.nom }}{% endblock %}

{% block body %}
<div class="container mt-5" data-page="prestation-edit">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="h3">Modifier la prestation</h1>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'action': path('app_prestation_edit', {'event_id': event.id, 'prestation_id': prestation.id})}) }}
                    {{ form_widget(form) }}
                    <div class="d-flex justify-content-end mt-4">
                        <a href="{{ path('app_prestation_index', {'event_id': event.id}) }}" class="btn btn-secondary me-2">Annuler</a>
                        <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %} 